@import url('variables.css');
@media(max-width:480px){
    /* GENERALES */
    .separador, .separador2{
        display: none;
    }
    .h2Color{
        margin: 80px 0 30px 0;
        text-align: center;
    }
    /* HEADER */
    header{
        position: fixed;
        background-color: var(--text-color-secondary-filter);
        top: 0;
        left: 0;
        z-index: 103;
    }
    .flexHeader{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .contDerecho{
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .contIzquierdo{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 3%;
        color: var(--background-color);
        position: relative;
    }
    .contIzquierdo figure{
        display: none;
    }
    .contIzquierdo  h1 {
        position: relative;
        z-index: 1;
        margin-top: 0;
    }
    .title.hidden {
        display: none;
    }
    nav ul{
        position: fixed;
        top: 50px;
        left: -100%;
        width: 250px;
        height: calc(100% - 50px);
        background-color: var(--text-color);
        flex-direction: column;
        align-items: start;
        justify-content: left;
        gap: 5px;
        padding: 1% 2%;
        transition: left 0.8s ease;
        z-index: 1003;
    }
    nav ul li a{
        color: var(--text-color-secondary);
        padding: 10px 20px;
    }
    .movilHome{
        display: flex;
        position: fixed;
        background-color: var(--text-color);
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1003;
        padding: 2.5% 4%;
        height: 50px;
        gap: 20px;
    }
    .menu.show {
        left: 0;
    }
    .menu-toggle {
        color: var(--color-black);
    }
    /* SLIDE */
    .rslides_nav.prev {
        left: 5px;
    }
    .rslides_nav.next {
        right: 5px;
    }
    /* OUR CORE VALUES */
    .curved-div .contenidoCurved{
        flex-direction: column;
        gap: 30px;
    }
    .contenidoCurved article{
        margin:4% 0;
    }
    /* PARALLAX */
    .fotoparallaxs {
        background-size: contain;
        min-height: 150px;
        padding-top: 0%;
        background-repeat: no-repeat;
    }
    /* SOME OF OUR GREAT FEATURES */
    .features{
        margin: 0 5%;
    }
    .features .tripleContenido{
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
    }
    .tripleContenido h3{
        margin: 5px 0;
    }
    .features .tripleContenido article{
        display: flex;
        flex-direction: column;
    }
    .features .tripleContenido article figure img{
        width: 100%;
        height: auto;
    }
    .features .tripleContenido article figure{
        width: 100%;
    }
    /* SERVICES */
    .services{
        clip-path: ellipse(100% 100% at 50% 100%);
        height: 350px;
        padding: 0 5%;
    }
    #slide-container {
        overflow-x: scroll;
        gap: 5px;
    }
    .slide {
        max-width: 45%; /* Mostrar 2 slides en la pantalla */
        flex: 0 0 45%;  /* Ajustar el tamaño de cada slide */
    }
    /* WHY CHOOSE US */
    .whyChoose{
        padding: 0%;
    }
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 15px;
        margin: 0 5%;
    }
    .grid-item:nth-child(7) {
        grid-column: 1;
        margin-top: 2%;
    }
    .grid-item .forma2{
        font-size: calc(var(--font-size-title));
    }
    /* WHAT PEOPLE */
    .profiles {
        display: flex;
        overflow: hidden;
        gap: 0;
        margin-top: 5%;
    }
    .profiles article {
        flex: 0 0 100%;
        transform: scale(1);
    }
    .profiles article:not(.active) {
        display: none;
    }
    .indicators span {
        width: 10px;
        height: 10px;
        border: 2px var(--text-color-secondary) solid;
        margin: 10px 5px 40px 5px;
        transition: all 0.8s linear;
    }
    .indicators span.active {
        transition: all 0.8s linear;
    }
    /* galery */
    .contenedorGaleria {
        grid-template-columns: 1fr;
    }
    .contenedorGaleria > :nth-child(3) {
        grid-column: span 1;
    }
    .contenedorGaleria figure {
        aspect-ratio: 1;
    }
    /* CONTACT FORM */
    .row {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        gap: 10px;
    }
    /* FOOTER */
    .comunicacion{
        gap: 10px;
        font-size: 15px;
        padding: 4%;
    }
}