@import url('variables.css');
@media screen and (max-width:768px){
    /* HEADER */
    header{
        position: absolute;
        background-color: var(--text-color-secondary-filter);
        width: 100%;
    }
    .flexHeader{
        flex-direction: column;
        justify-content: center;
    }
    nav ul{
        gap: 0px;
    }
    nav ul li a{
        padding: 40px 10px;
    }
    /* SLIDE */
    .rslides img {
        min-height: 500px;
    }
    .rslides_nav.prev {
        left: 30px;
    }
    .rslides_nav.next {
        right: 30px;
    }
    .informacionSlide {
        top: 100%;
        left: 50%;
        transform: translate(-50%, -100%);
        padding: 15% 10%;
        max-height: 200px;
    }
    .informacionSlide h2 {
        font-size: 25px;
    }
    .informacionSlide p{
        display: none;
    }
    /* CURVED DIV */
    .curved-div{
        width: 100%;
        height: 50vh;
        background-color: var(--primary-color);
        position: relative;
        top: 100%;
        left: 0;
        transform: translateY(-20%);
        z-index: 2;
        clip-path: polygon(50% 0%, 70% 3%, 88% 8%, 100% 17%, 100% 100%, 0 100%, 0 16%, 13% 8%, 31% 2%);
    }
}