@import url('variables.css');
@media(max-width:786px){
    /* GENERALES */
    body{
        line-height: 20px;
    }
    .h2Color{
        margin-top: 60px;
    }
    .separador, .separador2{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 5% auto;
    }
    /* HEADER */
    header{
        position: absolute;
        background-color: var(--text-color-secondary-filter);
        width: 100%;
    }
    .flexHeader{
        flex-direction: column;
        justify-content: center;
    }
    nav ul{
        gap: 0px;
    }
    nav ul li a{
        padding: 40px 10px;
    }
    /* SLIDE */
    .rslides img {
        min-height: 500px;
    }
    .rslides_nav.prev {
        left: 30px;
    }
    .rslides_nav.next {
        right: 30px;
    }
    .informacionSlide {
        top: 70%;
        left: 50%;
        transform: translate(-50%, -70%);
        min-width: 351px;
        min-height: 200px;
        padding: 2%;
    }
    .informacionSlide p{
        display: none;
    }
    /* CURVED DIV */
    .curved-div{
        padding: 20% 5%;
        margin-top: -15vh;
        clip-path: polygon(50% 0%, 70% 1%, 88% 2%, 100% 4%, 100% 100%, 0 100%, 0 4%, 13% 2%, 30% 1%);
    }
    .contenidoCurved article{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        margin-top: 5%;
    }
    /* SOME OF OUR GREAT FEATURES */
    .features{
        padding-bottom: 5%;
        margin: 0 5%;
    }
    /* services */
    .services{
        clip-path: ellipse(100% 100% at 50% 8%);
        height: 350px;
        padding: 0 5%;
    }
    .cuadrupleContenido{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cuadrupleContenido article figure img{
        width: 100%;
        height: auto;
    }
    .cuadrupleContenido article figure{
        width: 100%;
    }
    #carousel {
        max-width: 480px;
    }
    /* contenido carrrousel */
    #slide-container {
        overflow-x: scroll;
        gap: 5px;
    }
    .slide {
        max-width: 100%;
    }
    /* flechas */
    .contenedor_flechas {
        display: none;
    }
    /* why choose */
    .grid-container {
        gap: 5px;
    }
    .grid-item {
        gap: 10px;
    }
    .grid-item .forma2{
        color: var(--text-color);
        background-color: var(--primary-color);
        font-size: calc(var(--font-size-title) - 1rem);
        clip-path: polygon(50% 0%, 95% 30%, 95% 70%, 50% 95%, 5% 70%, 5% 30%);
        padding: 10%;
    }
    /* what people */
    /* contact form */
    .contact{
        text-align: center;
        padding: 0 5%;
    }
    /* asked */
    .contenedorFlex{
        margin: 0 5%;
    }
    /* footer */
    .comunicacion{
        gap: 15px;
        font-size: var(--font-size-title);
    }
    .comunicacion i {
        padding: 20px;
    }
}